# Python
__pycache__/
*.py[cod]
*.pyo
.Python
venv/
*.sqlite3

# Environment
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# Build output
staticfiles/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
